<p id="notice"><%= notice %></p>

<h1>Blods</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blods.each do |blod| %>
      <tr>
        <td><%= blod.title %></td>
        <td><%= blod.body %></td>
        <td><%= link_to 'Show', blod %></td>
        <td><%= link_to 'Edit', edit_blod_path(blod) %></td>
        <td><%= link_to 'Destroy', blod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blod', new_blod_path %>
