<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blod.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blod.body %>
</p>

<%= link_to 'Edit', edit_blod_path(@blod) %> |
<%= link_to 'Back', blods_path %>
